.locations_container,
.location_details_container
{
	position: absolute;
	top:115px;
	left:70px;
	right:70px;
	bottom:65px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
	padding:10px;
}

@media only screen and (max-width:800px) {
	.locations_container,
	.location_details_container
	{
		left:20px;
		right:20px;
	}
}

.location
{
	text-align: right;
	width:48%;
	margin-left:1%;
	margin-right:1%;
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:8px;
	position: relative;
	float:left;
}

.location.active
{
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	text-align: right;
	margin: 0px;
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:8px;
	float:none;
	width: auto;
}

/*.location_details_container .location
{
	width:100%;
	margin-left:0%;
	margin-right:0%;
	float:none;
}
*/
@media only screen and (max-width:800px) {
	.location
	{
		width:100%;
		margin-left:0%;
		margin-right:0%;
		float:none;
	}
}

.location_level
{
	position: absolute;
	top:0px;
	right: 5px;
	opacity:0.8;
}

.location .bg
{
	z-index:0;
	opacity:0.5;
}



.location_name
{
	position: relative;
	padding-left:5px;
	font-size:40px;
	text-align:left;
	color:#fff;
	font-family: 'Caveat Brush', cursive;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	z-index: 1;
}

.owned_false .location_name,
.location.owned_false
{
	opacity: 1;
}

.locations_container .location.maxed_true .location_name,
.locations_container .location.maxed_true
{
	opacity: 0.7;
}

.locations_container .location.maxed_true
{
	box-shadow:2px 2px 1px rgba(0,0,0,0.1);
}

.location_cost
{
	position: absolute;
	top: 60px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	text-align:center;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background-color: rgba(255,255,255,0.7);
	box-shadow:5px 5px 1px rgba(0,0,0,0);
	font-size: 20px;
	font-family: 'Caveat Brush', cursive;
	color:rgba(0,0,0,0.8);
	z-index: 1;
	overflow: auto;
	display: block;
}

.location_description
{
	width:100%;
}

.location_bonus_item
{
	background-position: center center;
	background-size: auto 64px;
	width:60px;
	height:60px;
	position: relative;
	float:none;
	display: inline-block;
	border:2px solid rgba(255,255,255,0.8);
	border-radius: 5px;
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
	margin-top:3px;
	margin-right:3px;
}

.location_bonus_amount
{
	position: absolute;
	font-size:20px;
	top:17px;
	left:0px;
	right:0px;
	color:#fff;
	font-family: 'Caveat Brush', cursive;
	text-align: center;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	opacity: 0.8;
}

.location_cost_title
{
	clear:both;
	width:100%;
	padding-top:10px;
}

.unlock_progress,
.unlock_location_button
{
	position: relative;
	width:200px;
	max-width: none;
	height:55px;
	margin-bottom: 5px;
	margin-right:0px;
	z-index: 1;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(100,150,100,0.7);
	display: none;
}

.unlock_progress_container
{
	position: relative;
	width:100%;
	height:60px;
	text-align: right;
	z-index: 1;
	display: none;
}
.unlock_progress
{
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	color:#fff;
	font-family: 'Caveat Brush', cursive;
	text-align: center;
	font-size: 30px;
	padding-top:10px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
	
}

.location.active .unlock_progress_container,
.location.active .location_cost
{
	display: block;
}

.location.active .unlock_location_button
{
	display: inline-block;
}