#content_card_viewer .menu_button,
#content_deck .menu_button
{
	width:160px;
}

.current_gems
{
	position:absolute;
	left:10px;
	top:75px;
	height:55px;
	width:160px;
	background-color:rgba(0,0,0,0.2);
	overflow:hidden;
}

.current_deck
{
	position:absolute;
	left:10px;
	top:135px;
	bottom:50px;
	width:160px;
	background-color:rgba(0,0,0,0.2);
	overflow-x:hidden;
	overflow-y:hidden;
}

.available_cards
{
	position:absolute;
	right:10px;
	top:75px;
	bottom:10px;
	left:180px;
	background-color:rgba(0,0,0,0.2);
	overflow-x:hidden;
	overflow-y:scroll;
	padding:10px;
}

.card_filters
{
	position:absolute;
	right:10px;
	top:10px;
	height:39px;
	left:180px;
	background-color:rgba(0,0,0,0.2);
	overflow:hidden;
	padding:10px;
	padding-top:6px;
}

.card_filters button
{
	width:79px;
	font-size:12px;
	float:left;
	border:none;
	border-radius:3px;
	padding:2px;
	margin-right:5px;
	margin-bottom:5px;
	
	box-shadow:inset 3px 3px 3px rgba(0,0,0,0.3);
	font-weight: bold;
	cursor: pointer;
	color:#ccc;
	text-shadow:1px 1px 0px rgba(0,0,0,0.5),1px -1px 0px rgba(0,0,0,0.5),-1px 1px 0px rgba(0,0,0,0.5),-1px -1px 0px rgba(0,0,0,0.5);
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.8);
}

.card_filters button.available_card_filter
{
	height:35px;
	background-color:rgba(0,0,0,0.2);
	color:#ccc;
	width:79px;
	
	box-shadow:inset 0px 0px 3px rgba(0,0,0,0.4);
	margin-right:5px;
}


.card_filters button.selected
{
	background-color:rgba(255,255,255,0.6);
	color:#fff;
	box-shadow:inset 0px 0px 3px rgba(0,0,0,0.4);
}

.card_filters button:hover
{
	box-shadow:inset 3px 3px 10px rgba(0,0,0,0.6);
}

.card_filters button.clear_deck
{
	position:absolute;
	top:2px;
	right:2px;
	background-color:#f43232;
	width:70px;
	margin:0px;
}

.card_viewer_window
{
	position:absolute;
	right:10px;
	top:75px;
	bottom:10px;
	left:10px;
	background-color:rgba(0,0,0,0.2);
	overflow-x:hidden;
	overflow-y:scroll;
	padding:10px;
}

.card_viewer_window span.standard_text
{
	font-family: 'Caveat Brush', cursive;
	font-size:34px;
	text-align: center;
	color:#000;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
}

.card
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-shadow:0px 0px 0px rgba(0,0,0,0);
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	overflow:hidden;
	border-radius:10px;
	background-image: url('../images/old-953394_640.jpg');
	background-position: center center;
	background-size: cover;
}

.card .card_color
{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	opacity:0.3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.card_info .card_name,
.card .card_name
{
	position:absolute;
	left:0px;
	right:0px;
	top:8px;
	font-family: 'Caveat Brush', cursive;
	font-size:18px;
	text-align: center;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	z-index:1;
}

.card_info .card_name
{
	text-shadow:none;
}

.card .card_image
{
	position:absolute;
	left:5px;
	right:5px;
	top:5px;
	bottom:5px;
	background-position: center center;
	background-size: cover;
	opacity:0.8;
	border-radius:3px;
}

.card .card_text,
.card_text,
.card_info .card_flavor
{
	position:absolute;
	left:10px;
	right:40px;
	bottom:10px;
	padding:5px;
	font-family: 'Times';
	font-size:11px;
	text-align: left;
	background-color:rgba(255,255,255,0);
	border-radius:5px;
}

.card .card_text
{
	background-color:rgba(255,255,255,0.5);
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

/*.card:hover .card_text
{
	opacity:1;
}*/

.card_info .card_text
{
	top:30px;
	bottom:auto;
	right:10px;
}

.card_info .card_flavor
{
	right:10px;
}

.card .card_energy
{
	position:absolute;
	left:10px;
	right:10px;
	bottom:15px;
	font-family: 'Caveat Brush', cursive;
	font-size:14px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	text-align: center;
	color:#eae717;
	display:none;
}

.card.combat
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
}

.card.combat.stunned .owned_amount
{
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	font-size:60px;
	text-align:center;
	background-color:rgba(255,255,255,0.3);

}

.card .poisoned_amount
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
	position: absolute;
	opacity:0;
	top:0px;
	left:7px;
	font-size:24px;
	font-family: 'Caveat Brush', cursive;
	text-align:left;
	color: rgba(0,200,0);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
}

.overlay_card_container .card .poisoned_amount
{
	top:5px;
	left:12px;
}

.card.combat.poisoned .poisoned_amount
{
	opacity:1;
}

.card .burning_amount
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
	position: absolute;
	opacity:0;
	top:0px;
	right:7px;
	font-size:24px;
	font-family: 'Caveat Brush', cursive;
	text-align:left;
	color: rgba(200,0,0);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
}

.overlay_card_container .card .burning_amount
{
	top:5px;
	right:12px;
}

.card.burning .burning_amount
{
	opacity:1;
}



.card.combat .card_energy
{
	top:36px;
}



.card .card_energy.active
{
	display:block;
}

.card.slim .card_energy.active
{
	display:none;
}

.card .card_strength
{
	position:absolute;
	right:10px;
	bottom:50px;
	padding:3px;
	height:30px;
	width:20px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	text-align: center;
	background-color:rgba(0,0,0,0.5);
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	border-radius:5px;
	z-index: 2;
}

.card .card_hp
{
	position:absolute;
	right:10px;
	bottom:10px;
	padding:3px;
	height:30px;
	width:20px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	text-align: center;
	background-color:rgba(255,0,0,0.35);
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	border-radius:5px;
	z-index:2;
	overflow:hidden;
}

.card .owned_amount
{
	position:absolute;
	right:13px;
	top:25px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	text-align: right;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
}

.card .card_current_hp
{
	position:absolute;
	right:0px;
	bottom:0px;
	left:0px;
	height:100%;
	background-color:rgba(255,0,0,0.35);
	z-index:-1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
}

.card_info
{
	width:185px;
	height:260px;
	position: absolute;
	right:0px;
	top:0px;
	background-color:rgba(255,255,255,0.7);
	border-radius: 10px;
	z-index:5;
}

.card_viewer_window .card_info,
.current_gems .card_info,
.current_deck .card_info,
.available_cards .card_info
{
	display:none;
}

.combat_grid .card_info
{
	display: none;
}

.card.full
{
	width:185px;
	height:260px;
	background-color:rgba(255,255,255,0.8);
	position:relative;
	box-shadow:1px 1px 10px rgba(0,0,0,0.2);
}

.card.full .card_cost
{
	position:absolute;
	right:14px;
	bottom:95px;
	font-family: 'Arial', cursive;
	font-size:15px;
	font-weight:bold;
	text-align: right;
	/*text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);*/
	color:#fff;
	letter-spacing: 2px;
}

.card.full .card_cost .cost_color
{
	font-family: 'Caveat Brush', cursive;
	width: 20px;
    height: 19px;
    padding-left: 0px;
	padding-top:1px;
	text-align:center;
	border-radius:100%;
	/*border:1px solid #000;*/
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.8);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	margin-top:2px;
	letter-spacing: normal;
}

.card.full .card_cost i
{
	display: block;
	margin-bottom:-5px;
}

.card.slim
{
	width:150px;
	height:23px;
	background-color:rgba(255,255,255,0.8);
	position:relative;
	box-shadow:1px 1px 10px rgba(0,0,0,0.2);
	margin:5px;
	margin-bottom:0px;
	margin-top:3px;
	border-radius:3px;
	cursor:pointer;
}

.card.slim .card_cost
{
	position:absolute;
	left:5px;
	right:0px;
	top:20px;
	font-family: 'Arial', cursive;
	font-size:10px;
	font-weight:bold;
	text-align: left;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	letter-spacing: -3.5px;
	z-index:2;
}

.card.slim .card_cost .cost_color
{
	font-family: 'Caveat Brush', cursive;
	width:19px;
	height:19px;
	padding-left:1px;
	padding-top:1px;
	text-align:center;
	border-radius:100%;
	/*border:1px solid #000;*/
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.8);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	margin-top:2px;
	float:left;
}

.card.slim .card_image,
.card.slim .card_text
{
	display:none;
}

.card.slim .card_name
{
	text-align:left;
	top:0px;
	padding-left:5px;
}

.card.slim .card_strength
{
	bottom:0px;
	height:21px;
	width:20px;
	right:20px;
	padding:0px;
	padding-top:3px;
	font-size:16px;
	border-radius: 0px;
}

.card.slim .card_hp
{
	bottom:0px;
	height:21px;
	width:20px;
	right:0px;
	padding:0px;
	padding-top:3px;
	font-size:16px;
	border-radius: 0px;
}

.card.slim .owned_amount
{
	position:absolute;
	right:43px;
	bottom:2px;
	font-size:16px;
}

.card_viewer_window .card
{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	width:175px;
	height:250px;
}

.available_cards .card
{
	float:left;
	cursor:pointer;
	margin-right:5px;
	margin-bottom:5px;
}

.current_gems .card.slim
{
	/*width:170px;*/
}

.current_deck .card:hover,
.available_cards .card:hover,
.current_deck .card:active,
.available_cards .card:active,
.card_viewer_window .card:hover,
.card_viewer_window .card:active
{
	box-shadow:2px 2px 10px 2px rgba(0,0,0,0.8);
	cursor: pointer;
}

.bought_cards
{
	margin:10px;
	padding-left:30px;
	position:absolute;
	left:10px;
	right:10px;
	top:75px;
	bottom:10px;
	overflow-x:hidden;
	overflow-y:auto;
}

.bought_card_container
{
	float:left;
	margin:5px;
	opacity:0;
	margin-left:-50px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

@keyframes show_bought_card {
    0%   {
    	transform:rotate(500deg) scale(0.7);
		opacity:0;
    }

    100%   {
		transform:rotate(0deg) scale(0.7);
		opacity:1;
    }
}

.bought_card_container.shown
{
	animation-name: show_bought_card;
    animation-duration: 1s;
	transform-origin:center center;
	transform:rotate(0deg) scale(0.7);
	opacity:1;
}

@keyframes show_bought_card_small {
    0%   {
    	transform:rotate(500deg) scale(0.5,0.5);
		opacity:0;
    }

    100%   {
		transform:rotate(0deg) scale(0.5,0.5);
		opacity:1;
    }
}

.overlay_card_container .bought_card_container.shown
{
	animation-name: show_bought_card_small;
    animation-duration: 1s;
	transform-origin:center center;
	transform:rotate(0deg) scale(0.5,0.5);
	opacity:1;
}

.bought_card_container .card_info
{
	background-color: rgba(0,0,0,0);
}

.bought_card_container .card_info .card_text,
.bought_card_container .card_info .card_flavor
{
	display:none;
}

.bought_card_container .card_info .card_name
{
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);	
}

.card .stars
{
	position:absolute;
	left:2px;
	bottom:2px;
}

.card .star
{
	width:40px;
	height:40px;
	margin-top:-20px;
	background-image: url('../images/star1.png');
	background-position: center center;
	background-size: cover;
	
}

.card.combat .stars,
.card.slim .stars
{
	display:none;
}