@keyframes enter_combat {
    0%   {
    	transform:scale(1.5,1.5);
    	opacity:0;
    }
    100%   {
    	transform:scale(1,1);
    	opacity:1;
    }
}

.card.combat.enter_combat
{
	animation-name: enter_combat;
    animation-duration: 0.5s;
    -ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
    transform-origin: center center;
    transform:scale(1,1);
    opacity:1;
}

.battle_bg
{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	opacity:0.3;
	background-position: center center;
	background-size: cover;
}

.player_hp
{
	position:absolute;
	left:5px;
	width:160px;
	height:95px;
	bottom:5px;
	background-color:rgba(255,0,0,0.5);
	cursor: pointer;
}

.enemy_hp
{
	position:absolute;
	right:5px;
	width:160px;
	height:95px;
	bottom:5px;
	background-color:rgba(255,0,0,0.5);
}

.player_hp,
.enemy_hp
{
	font-family: 'Caveat Brush', cursive;
	font-size:75px;
	text-align: center;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	border-radius:5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
}

.player_deck
{
	position:absolute;
	left:5px;
	bottom:70px;
}

.enemy_deck
{
	position:absolute;
	left:635px;
	bottom:70px;
}

.player_deck,
.enemy_deck
{
	font-family: 'Caveat Brush', cursive;
	font-size:20px;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	padding:5px;
	z-index:101;
}

.player_grave
{
	position:absolute;
	right:635px;
	bottom:70px;
	cursor:pointer;
}

.enemy_grave
{
	position:absolute;
	right:5px;
	bottom:70px;
}

.player_grave,
.enemy_grave
{
	font-family: 'Caveat Brush', cursive;
	font-size:20px;
	color:#000;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	padding:5px;
	z-index:101;
}

.player_mana
{
	position:absolute;
	left:170px;
	width:150px;
	padding-left:50px;
	height:95px;
	bottom:5px;
	background-color:rgba(0,0,0,0.2);
}

.click_to_get_mana
{
	position:absolute;
	top:0px;
	left:50px;
	right:0px;
	bottom:0px;
	cursor:pointer;
}

.enemy_mana
{
	position:absolute;
	right:170px;
	width:145px;
	padding-right:50px;
	padding-left:5px;
	height:95px;
	bottom:5px;
	background-color:rgba(0,0,0,0.2);
}

.mana_bar
{
	/*margin-left:45px;
	margin-top:2px;
	width:146px;
	height:11px;
	background-color:rgba(0,0,0,0.2);
	border-radius:3px;
	padding-top:2px;
	padding-left:4px;
	font-size: 10px;
	letter-spacing: 1px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);*/
	float:left;
	width:30px;
	height:30px;
	margin:8px;
	margin-top:8px;
	border-radius: 100%;
	box-shadow:3px 3px 10px 2px rgba(0,0,0,0.5),inset 0px 15px 0px -3px rgba(255,255,255,0.2), inset 0px -20px 5px -10px rgba(0,0,0,0.4);
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	color:#fff;
	border:1px #000 solid;
	text-align: center;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	transform-origin:center center;
	cursor:pointer;
}



.enemy_mana .mana_bar
{
	margin-left:5px;
}

.mana_bar.zoom
{
	box-shadow:0px 0px 10px 2px rgba(255,255,255,1);
}

.mana_bar.unzoom
{
	box-shadow:0px 0px 10px 2px rgba(255,0,0,1);
}

.gem_1,
.gem_2
{
	width:35px;
	height:35px;
	position:absolute;
	left:5px;
	top:5px;
	border-radius: 10px;
	background-color:rgba(0,0,0,0.4);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
	box-sizing: border-box;
}

.gem_2
{
	top:auto;
	bottom:5px;
}

.enemy_mana .gem_1,
.enemy_mana .gem_2
{
	left:auto;
	right:5px;
}

.gem_image
{
	position:absolute;
	left:2px;
	top:2px;
	right:2px;
	bottom:2px;
	border-radius:8px;
	background-position: center center;
	background-size: cover;
	opacity:0.8;
}

.gem_1.zoom,
.gem_2.zoom
{
	background-color:rgba(255,255,255,1) !important;
}

.player_cards
{
	position:absolute;
	left:5px;
	width:160px;
	top:75px;
	bottom:105px;
	padding-top:2px;
	background-color:rgba(0,0,0,0.2);
	overflow:hidden;
}


.player_cards .card.slim.cannot_play
{
	opacity:0.5;
	box-shadow:inset 1px 1px 10px rgba(0,0,0,0.2);
}

.card_blocker
{
	position:absolute;
	background-color: rgba(0,0,0,0);
	left:5px;
	right:5px;
	top:75px;
	bottom:5px;
	display:none;
	z-index:1000;
}

.enemy_image
{
	position:absolute;
	right:5px;
	width:160px;
	top:75px;
	padding-top:2px;
	bottom:105px;
	background-color:rgba(0,0,0,0.2);
}

.enemy_image .card
{
	opacity:0.5;
}

.spell_cast
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
}

.card_blocker .spell_cast
{
	position:absolute;
	left:0px;
	right:auto;
	top:0px;
	bottom:auto;
	z-index:100;	
}

.card_blocker .spell_cast .card_info
{
	display:none;
}

.enemy_image .spell_cast
{
	position:absolute;
	right:0px;
	left:auto;
	top:0px;
	bottom:auto;
	z-index:100;	
}

.enemy_image .spell_cast .card
{
	opacity:1;
}


.combat_grid
{
	position:absolute;
	left:170px;
	right:170px;
	top:75px;
	bottom:105px;
	background-color:rgba(0,0,0,0.2);
}

.card_slot
{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position:absolute;
	width:86px;
	height:100px;
	background-color:rgba(0,0,0,0.2);
}

.row_1
{
	top:5px;
}

.row_2
{
	top:110px;
}

.row_3
{
	top:215px;
}

.col_1
{
	left:5px;
}

.col_2
{
	left:96px;
}

.col_3
{
	left:187px;
}

.col_4
{
	left:278px;
}

.col_5
{
	left:369px;
}

.card_slot.col_1::after,
.card_slot.col_5::after
{
  content: "";
  background: url('../images/fort-awesome-alt.svg');
  opacity: 0.2;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.card_slot.col_2::after,
.card_slot.col_3::after,
.card_slot.col_4::after
{
  content: "";
  background: url('../images/mandalorian.svg');
  opacity: 0.2;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;  
  background-position: center;
  background-repeat: no-repeat;
}

.enemy_card_log
{
	position:absolute;
	top:10px;
	right:200px;
	left:200px;
	height:40px;
	font-family: 'Caveat Brush', cursive;
	font-size:16px;
	background-color:rgba(0,0,0,0.2);
	padding:5px;
	overflow-x:hidden;
	overflow-y:scroll;
	text-shadow:1px 1px 0px rgba(255,255,255,0.2),1px -1px 0px rgba(255,255,255,0.2),-1px 1px 0px rgba(255,255,255,0.2),-1px -1px 0px rgba(255,255,255,0.2);
}

.enemy_card_log::-webkit-scrollbar { 
    display: none; 
}

.enemy_card_log .enemy_card_played
{
	color: #500;
}

.enemy_card_log .player_card_played
{
	color: #030;
}

.enemy_card_log .enemy_card_played .card_played_name,
.enemy_card_log .player_card_played .card_played_name
{
	color:#000;
	/*text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);*/
}

.phase_progression
{
	position:absolute;
	top:65px;
	right:200px;
	left:200px;
	height:5px;
	background-color:rgba(0,0,0,0.2);
	overflow:hidden;
}

.phase_progression_bar_container
{
	position:absolute;
	top:1px;
	left:1px;
	right:1px;
	height:3px;
}

.phase_progression_bar
{
	position:absolute;
	top:0px;
	left:0px;
	height:3px;
	width:100%;
	background-color:rgba(0,100,0,0.99);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center center;
}

.phase_counter
{
	position:absolute;
	color:#000;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	top:58px;
	font-family: 'Caveat Brush', cursive;
	font-size:14px;
	right:197px;
	left:197px;
}

.phase_counter.phase_1
{
	text-align: left;
}

.phase_counter.phase_2
{
	text-align: center;
}

.phase_counter.phase_3
{
	text-align: right;
}

.end_turn_button
{
	position:absolute;
	top:10px;
	right:10px;
	width:180px;
	height:55px;
	cursor:pointer;
	border-radius:5px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	background-color:#189e06;
	box-shadow:inset 0px 40px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 10px -10px rgba(0,0,0,1);
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	border:none;
}

.surrender_button
{
	position:absolute;
	top:10px;
	left:10px;
	width:180px;
	height:55px;
	cursor:pointer;
	border-radius:5px;
	color:#000;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	background-color:#f43232;
	margin:0px;
	box-shadow:inset 0px 40px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 10px -10px rgba(0,0,0,1);
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
	border:none;
	background-image:none;
}

.end_turn_button:hover,
.surrender_button:hover
{
	box-shadow:inset 0px 40px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 10px -10px rgba(0,0,0,1), 2px 2px 10px 2px rgba(0,0,0,0.8);
}

.card.combat
{
	position:absolute;
	width:86px;
	height:100px;
	z-index:1;
}

.card.combat.side_0
{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0.2);
    /*box-shadow: 0px 0px 3px 5px #000;*/
}

.card.combat.side_1
{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #189e06;
    /*box-shadow: 0px 0px 3px 5px #189e06;*/
}

.card.combat.side_2
{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #f43232;
    /*box-shadow: 0px 0px 3px 5px #f43232;*/
}

.selectable
{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 3px solid #008;
	box-shadow: inset 0px 0px 30px 5px #008;
	cursor: pointer;
}

.card.combat.selectable
{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	/*border: 3px solid #008;*/
	box-shadow: inset 0px 0px 30px 5px #008;
	cursor: pointer;
	-ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
    transform-origin: center center;
    /*transform:scale(1.1,1.1);*/
}

.card.combat.selectable .card_image
{
	box-shadow: inset 0px 0px 30px 5px #00a;
}

.card.combat.selectable .card_color
{
	opacity:0;
}

.card.combat .card_image
{
	top:3px;
	left:3px;
	bottom:3px;
	right:3px;
}

/*.card.combat.stunned
{
	opacity:0.5;
}*/

.card.combat .card_name,
.card.combat .card_text,
.card.combat .card_cost
{
	display:none;
}

.card.combat .card_strength
{
	right:auto;
	left:3px;
	bottom:3px;
	border-radius:3px;
	border-top-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.card.combat .card_hp
{
	right:3px;
	bottom:3px;
	border-radius:3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;

}

.combat_grid .card .card_current_hp
{
	background-color:rgba(255,0,0,0.65);
}

/*.card.combat .card_image
{
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}*/

@keyframes death {
    0%   {
    	transform:rotate(0deg) scale(1,1);
		opacity:1;
    }

    100%   {
		transform:rotate(500deg) scale(0,0);
		opacity:0;
    }
}

@keyframes theme_title {
    0%   {
    	transform:scale(0.7,0.7);
		opacity:0;
    }

    20%   {
    	transform: scale(1,1);
		opacity:1;
    }

    80%   {
    	transform: scale(1,1);
		opacity:1;
    }

    100%   {
		transform: scale(0.5,0.5);
		opacity:0;
    }
}

.theme_title
{
	animation-name: theme_title;
    animation-duration: 6s;
	transform-origin:center center;
	transform:rotate(500deg) scale(0,0);
	opacity:0;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	padding-top:170px;
	z-index:10000000001;
	font-size:80px;
	font-family: 'Caveat Brush', cursive;
	text-align: center;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
}

.spell_cast.dead,
.bought_card_container.dead,
.card.combat.dead
{
	/*-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;*/
	animation-name: death;
    animation-duration: 1s;
	transform-origin:center center;
	transform:rotate(500deg) scale(0,0);
	opacity:0;
}

.buy_card_button,
.play_card_button,
.discard_button,
.add_to_deck_button,
.remove_from_deck_button
{
	
	font-family: 'Caveat Brush', cursive;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(255,255,255,1), 1px -1px 0px rgba(255,255,255,1), -1px 1px 0px rgba(255,255,255,1), -1px -1px 0px rgba(255,255,255,1);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 25px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 20px -10px rgba(0,0,0,1);
    margin-top: 5px;
    padding: 3px;
    cursor: pointer;
    width: 185px;
    height: 40px;
}

.buy_card_button,
.play_card_button,
.add_to_deck_button
{
	background-color:#189e06;
}

.discard_button,
.remove_from_deck_button
{
	float:right;
	background-color:#f43232;
}

.buy_card_button
{
	height: 50px;
    line-height: 0.7;
}

.buy_card_button span
{
	font-size: 10px;
	text-shadow: none;
}

.buy_card_button.disabled
{
	background-color: #555;
	cursor: default;
}
