body
{
	background-color:#ccc;
    overflow:hidden;
    -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	min-width:1100px;
}

h2,h3
{
	margin: 0px;
	font-family: 'Caveat Brush', cursive;
	clear:both;
}

.hidden
{
	display:none;
}

.shop_details_text
{
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
	text-align:center;
	font-family: 'Caveat Brush', cursive;
	clear:both;
	font-size:24px;
}

button:focus
{
	outline: none;
}

.main_window
{
	margin:auto;
	width:800px;
	height:500px;
	border:2px solid #555;
	border-radius:5px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	background-color:#888;
	position:relative;
	left:0px;
	overflow:hidden;
	-ms-transform-origin: top center; /* IE 9 */
    -webkit-transform-origin: top center; /* Chrome, Safari, Opera */
    transform-origin: top center;
}

@media only screen and (max-width:1024px) {
  body {
    background-color: #000;
    padding:0px;
	margin:0px;
  }
  .main_window
  {
  	box-shadow: none;
  }
}

.main_window.too_small
{
	position:absolute;
	left:0px;
	-ms-transform-origin: top left; /* IE 9 */
    -webkit-transform-origin: top left; /* Chrome, Safari, Opera */
    transform-origin: top left;
}

.page_container
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	display:none;
}

.page_container.active
{
	display:block;
}

#content_home.page_container
{
	overflow-x:hidden;
	overflow-y: auto;
}

.home_devider
{
	width:760px;
	margin-left:10px;
	border-bottom:2px solid #000;
	clear:both;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
}

.paper_bg
{
	background-image: url('../images/old-953394_640.jpg');
	background-position: center center;
	background-size: cover;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.5;
	z-index:0;
}

.menu_button,
.shop_buy_button,
.rarity_button
{
	float:left;
	margin:10px;
	width:180px;
	height:105px;
	cursor:pointer;
	border-radius:5px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	border:none;
	background-image: url('../images/old-953394_640.jpg');
	background-position: center center;
	background-size: cover;
	background-color:#ccc;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	font-size:30px;
	color:#ccc;
	box-shadow:1px 1px 10px rgba(0,0,0,0.2);
}

.shop_buy_button
{
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	font-size:30px;
	color:#fff;
	box-shadow:1px 1px 10px rgba(0,0,0,0.2);
}

.menu_button span,
.shop_buy_button span
{
	display:block;
	font-size:20px;
	margin-top:-5px;
	opacity:0.8;
}

.rarity_button.slim,
.menu_button.slim
{
	height:55px;
}

.rarity_button.width1-6,
.menu_button.width1-6
{
	width:113px;
}

#content_game_speed .menu_button,
#content_home .menu_button
{
	width:175px;
	background-image:none;
	background-color:rgba(100,150,100,0.5);
	box-shadow:inset 0px 60px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 15px -10px rgba(0,0,0,0.5);
	border:2px solid rgba(0,0,0,0.6);
}

#content_game_speed .menu_button.danger,
#content_home .menu_button.danger
{
	background-color:rgba(150,100,100,0.5);
}

#content_game_speed .menu_button.cool,
#content_home .menu_button.cool
{
	background-color:rgba(100,100,150,0.5);
}

#content_game_speed .menu_button.current_game_speed,
#content_home .menu_button.gold
{
	background-color:rgba(150,150,100,0.5);
}

.menu_button:hover,
.shop_buy_button:hover,
.menu_button:active,
.shop_buy_button:active
{
	box-shadow:2px 2px 10px 2px rgba(0,0,0,0.5);
}

#content_game_speed .menu_button:hover,
#content_game_speed .menu_button.current_game_speed,
#content_home .menu_button:hover
{
	box-shadow:inset 5px 10px 10px rgba(0,0,0,0.2);
	color:#aaa;
}

.breaker
{
	clear:both;
}

.blue_mana
{
	color:#337df4;
}

.red_mana
{
	color:#f43232;
}

.green_mana
{
	color:#189e06;
}

.purple_mana
{
	color:#a31079;
}

.orange_mana
{
	color:#ff8902;
}

.yellow_mana
{
	color:#eae717;
}

.colorless_mana
{
	color:#cccccc;
}

.blue_mana_bg
{
	background-color:#337df4;
}

.red_mana_bg
{
	background-color:#f43232;
}

.green_mana_bg
{
	background-color:#189e06;
}

.purple_mana_bg
{
	background-color:#a31079;
}

.orange_mana_bg
{
	background-color:#ff8902;
}

.yellow_mana_bg
{
	background-color:#eae717;
}

.colorless_mana_bg
{
	background-color:#cccccc;
}

.detail_overlay
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0,0,0,0.8);
	display:none;
	z-index:10000000000;
}

.detail_overlay .overlay_card_container
{
	margin:auto;
	margin-top:10px;
	width:375px;
	transform-origin:center top;
	transform:scale(1.5);
}

.coins_gained,
.victory,
.loss
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0,0,0,0);
	display:none;
	z-index:10000000001;
	font-size:80px;
	font-family: 'Caveat Brush', cursive;
	text-align: center;
	text-shadow:1px 1px 0px rgba(255,255,255,1),1px -1px 0px rgba(255,255,255,1),-1px 1px 0px rgba(255,255,255,1),-1px -1px 0px rgba(255,255,255,1);
}

.victory
{
	padding-top:400px;
	color:#189e06;
}

.loss
{
	color:#f43232;
}

.coins_gained
{
	padding-top:150px;
	color:#eae717;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
}

.zoom,
.card.combat.zoom
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transform-origin:center center;
	transform:scale(1.2);
	z-index:100;
}

.unzoom
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transform-origin:center center;
	transform:scale(0.8);
	/*opacity: 0.3;*/
	z-index:100;
}

/*.card.combat.zoom .card_color
{
	background-color:rgba(255,255,255,0.25) !important;
}*/



@keyframes shake {
    0%   {
    	margin-left:0px;
    	margin-right:0px;
    }
    20%   {
    	margin-left:-5px;
    	margin-right:-5px;
    }
    40%   {
    	margin-left:5px;
    	margin-right:5px;
    }
    60%   {
    	margin-left:-5px;
    	margin-right:-5px;
    }
    80%   {
    	margin-left:5px;
    	margin-right:5px;
    }
    100%   {
    	margin-left:0px;
    	margin-right:0px;
    }
}

.shake,
.card.combat.shake
{
	margin:0px;
	animation-name: shake;
    animation-duration: 0.5s;
    -ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
    transform-origin: center center;
    z-index:100;
}

.color_description
{
	position:absolute;
	right:0px;
	top:50px;
	height:150px;
	width:200px;
	font-size:18px;
}

.color_description_2
{
	top:auto;
	bottom:50px;
}

.choose_custom_fight_container
{
	margin-left:10px;
	position:absolute;
	left:100px;
	right:100px;
	top:100px;
	bottom:50px;
}

.choose_custom_fight_container h2
{
	font-size:40px;
}

.choose_custom_fight_container select,
.choose_custom_fight_container select option
{
	width:180px;
	padding:5px;
	text-align:center;
	margin:10px;
}

.custom_fight_start
{
	/*position:absolute;
	right:10px;
	bottom:10px;*/
}

.owned_coins
{
	border-radius:5px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	border:none;
	position:absolute;
	right:20px;
	top:20px;
	text-align: right;
	color:#eae717;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform-origin:center right;
}

.owned_coins.zoom
{
	color:#f43232;
	font-size:34px;
}

.home_devider .owned_coins
{
	right:20px;
	top:0px;
}

.quest_list
{
	position:absolute;
	top:80px;
	left:10px;
	right:10px;
	bottom:10px;
	overflow-x:hidden;
	overflow-y:auto;
}

.single_quest
{
	margin-bottom:10px;
	padding:10px;
	padding-top:5px;
	border-radius:10px;
	box-shadow:inset 5px 5px 20px rgba(0,0,0,0.5);
	font-family: 'Caveat Brush', cursive;
	font-size:16px;
	height:100px;
	position:relative;
	overflow:hidden;
}

.single_quest.completed_true
{
	box-shadow:inset 5px 5px 40px rgba(0,0,0,1);
}

.single_quest .quest_name
{
	font-size:24px;
}
.single_quest .quest_goal
{
	position:absolute;
	right:10px;
	top:5px;
	font-size:24px;
}

.single_quest .quest_cards
{
	position:absolute;
	top:40px;
	left:180px;
	right:10px;
	bottom:10px;
}

.single_quest .quest_cards .card_info
{
	display:none;
}

.single_quest .quest_cards .quest_card_container
{
	float:right;
	margin-left:10px;
}

.single_quest .complete_quest_button
{
	position:absolute;
	left:0px;
	bottom:0px;
	height:40px;
}

.rarity_button
{
	color:#555;
	box-shadow: inset -2px -2px 20px 2px rgba(0,0,0,0.9), 2px 2px 5px 2px rgba(0,0,0,0.5),inset 0px 40px 0px -10px rgba(255,255,255,0.2)
}

.rarity_button.active
{
	box-shadow: inset 2px 2px 10px 2px rgba(0,0,0,0.7);
	color:#fff;
}