.possible_avatar,
.worker,
.item
{
	font-family: 'Caveat Brush', cursive;
	margin:2px;
	width:100px;
	height:100px;
	border-radius:5px;
	text-align:center;
	padding:10px;
	position:relative;
	overflow:hidden;
	border:0px solid rgba(255,255,255,0.5);
	display:inline-block;
	box-shadow:inset 0px -10px 15px -10px rgba(0,0,0,0.2), inset 0px 0px 3px 5px rgba(0,0,0,0.0), inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 0px 1px 1px rgba(0,0,0,0.9),5px 5px 1px rgba(0,0,0,0.3);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	line-height: 1;
	color:#fff;
	background-size: cover;
	background-position:center;
	opacity:0.9;
	background-color:rgba(0,0,0,0.5);
	transform-origin:center;
	font-size:16px;
	vertical-align: middle;
}

.action_bar.recipe_details .item,
.action_bar_trade .item
{
	width: 75px;
	height: 75px;
}

.item.item_type_quest
{
	box-shadow:inset 0px -10px 15px -10px rgba(0,0,0,0.2), inset 0px 0px 3px 5px rgba(0,0,0,0.3), inset 0px 0px 0px 3px rgba(255,255,0,1), 0px 0px 1px 1px rgba(0,0,0,0.9),5px 5px 1px rgba(0,0,0,0.3);
}

.not_enough .item
{
	box-shadow:inset 0px -10px 15px -10px rgba(0,0,0,0.2), inset 0px 0px 3px 5px rgba(0,0,0,0.3), inset 0px 0px 0px 3px rgba(255,0,0,1), 0px 0px 1px 1px rgba(0,0,0,0.9),5px 5px 1px rgba(0,0,0,0.3);
}

.possible_avatar
{
	cursor: pointer;
}

.worker
{
	cursor: pointer;
	z-index:2;
}

.clickable_area
{
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index:200;
}

.item_details_image .item
{
	width:150px;
	height:150px;
	font-size:24px;
}

.item .item_sub_image
{
	position: absolute;
	left:10px;
	right:10px;
	top:10px;
	bottom:10px;
	border-radius:3px;
	background-size: cover;
	background-position: center;
	opacity:0.7;
}

.cell.loot
{
	z-index: 3;
}

.cell.loot.fade_out
{
	opacity: 0;
}

.cell.loot .item
{
	transition: all 0.5s ease-in-out;
	display: block;
	margin:auto;
	animation: 1s ease-out 0s 1 loot_drop;
	transform: scale(1);
    opacity: 1;
    top:50%;
    margin-top:-50px;
}

.fade_out .item
{
    opacity: 0;
}

.item .item_name
{
	position: absolute;
	top:5px;
	left:6px;
	right:6px;
	text-align: center;
}

.item .amount_gained,
.item .owned_amount
{
	position: absolute;
	bottom:5px;
	left:3px;
	right:3px;
	text-align: center;
}

.item .amount_gained
{
	bottom: 25px;
	color:#aaa;
}

.item .amount_gained .cost_amount
{
	color:rgba(200,100,100,1);
	font-size: 40px;
}
.item .amount_gained .reward_amount
{
	color:rgba(100,200,100,1);
	font-size: 40px;
}

.action_bar_trade .item .amount_gained .cost_amount,
.action_bar_trade .item .amount_gained .reward_amount
{
	font-size: 20px;
}

.worker .worker_amount
{
	position: absolute;
	top:25px;
	left:3px;
	right:3px;
	text-align: center;
	color:rgba(200,200,200,1);
	font-size: 40px;
}

.worker .selling_amount
{
	position: absolute;
	top:5px;
	right:6px;
	text-align: center;
	color:rgba(200,200,200,1);
	font-size: 20px;
}

.worker .selling_time_left
{
	position: absolute;
	bottom:5px;
	left:3px;
	right:3px;
	text-align: center;
	color:rgba(255,255,255,1);
	font-size: 30px;
}

.worker.done .selling_time_left
{
	opacity: 0;
}

.worker .selling_time_done
{
	opacity: 0;
	position: absolute;
	top:25px;
	left:3px;
	right:3px;
	text-align: center;
	color:rgba(255,255,0,1);
	font-size: 40px;
}

.worker.done .selling_time_done
{
	opacity: 1;
}

@keyframes loot_drop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes loot_fade {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.recipe_details_container,
.item_details_container
{
	position: relative;
	width:80%;
	margin-left:10%;
	padding-top:10px;
	padding-bottom:10px;
}

.recipe_details_container
{
	text-align: center;
}

.item_details_text,
.item_details_image
{
	float:left;
}

.item_details_text
{
	padding:10px;
}

.item_details_name
{
	font-family: 'Caveat Brush', cursive;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color:#fff;
	font-size:30px;
}

.item_details_description
{
	font-family: arial;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color:#fff;
	font-size:16px;
	font-weight: bold;
}

.item_details_consumables_container
{
	clear:both;
	width:100%;
	text-align:center;
	padding-bottom: 20px;
}

.equip_units_container
{
	display: inline-block;
	width:250px;
}

.equip_gear_container
{
	display: inline-block;
	max-width:310px;
	width:100%;
}

.equip_gear_container .item_details_consumable
{
	max-width:31%;
	margin-left:1%;
	margin-right:1%;
}

.equip_gear_button
{
	float: none;
	display: inline-block;
}

.item_details_consumables_container .item
{
	margin: 0px;
	display: block;
}

.equip_gear_container .item_details_consumable .item
{
	width:100%;
}

.consumables_title,
.consumables_description
{
	width:100%;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color:#fff;
	font-size:30px;
}

.consumables_description
{
	font-family: arial;
	font-size:16px;
	font-weight: bold;
}

.item_details_consumable
{
	width:100px;
	height:100px;
	background-color:rgba(0,0,0,0.2);
	border-radius:5px;
	margin:5px;
	display: inline-block;
	line-height:1px;
	vertical-align:middle;
}