#content_home
{
	text-align: center;
}

.select_avatar_container,
.set_up_sale_container,
.current_location_container,
.location_buttons_container,
.pick_craft_recipe_container
{
	position: absolute;
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
	overflow-x: visible;
	overflow-y: auto;
	/*width:80%;
	margin-left:10%;
	padding-top:10px;
	padding-bottom:10px;*/
}

.select_avatar_container,
.set_up_sale_container
{
	text-align: center;
}

.location_button
{
	position: relative;
	display:inline-block;
	background-position: center center;
	background-size: cover;
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
	height:70px;
	width:48%;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:10px;
}

.location_button_bg
{
	opacity: 0.5;
	font-family: 'Caveat Brush', cursive;
	font-size:40px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color: rgba(255,255,0,1);
	padding-top:10px;
}

.location_bg
{
	opacity: 0.2;
}

.location_button_text
{
	position: absolute;
	left:10px;
	top:5px;
	font-family: 'Caveat Brush', cursive;
	font-size:40px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color:#fff;
}

.enter_location_button
{
	position: absolute;
	right:10px;
	top:5px;
	margin:0px;
}

.current_location_container
{
	width:94%;
	margin-left:2%;
}

@media only screen and (max-width:1024px) {

	/*.pick_craft_recipe_container,
	.current_location_container,
	.location_buttons_container
	{
		width:94%;
		margin-left:2%;
	}*/

	.location_button
	{
		width:100%;
		margin-left:0px;
		margin-right:0px;
	}

	.location_button_text
	{
		font-size: 30px;
	}
}

.workers_expand_title,
.workers_title,
.location_name,
.location_description,
.craft_time
{
	font-family: 'Caveat Brush', cursive;
	font-size:40px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color:#fff;
	width:100%;
	text-align: center;
	padding-bottom:10px;
}

.craft_time
{
	width: auto;
	vertical-align: middle;
	padding-left: 10px;
}

.location_name
{
	/*padding-left: 10%;*/
	padding-right: 10px;
	text-align: right;
}

.location_description
{
	color: #ccc;
	font-size: 24px;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}

.workers_expand_title
{
	font-size:24px;
	display: inline-block;
	width: auto;
	padding: 10px;
	vertical-align: middle;
}

.workers_container
{
	width:100%;
	text-align: center;
	padding-bottom:10px;
}

.current_map_container
{
	position: absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}

.map_button
{
	position: absolute;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.map_button.fade_in_true
{
	animation: 1s ease-out fade_in;
}

.portrait .map_button
{
	width: 20%;
	height: 10%;
}

.landscape .map_button
{
	width: 10%;
	height: 20%;
}

.portrait .map_button.col_1{	left:0%;}
.portrait .map_button.col_2{	left:20%;}
.portrait .map_button.col_3{	left:40%;}
.portrait .map_button.col_4{	left:60%;}
.portrait .map_button.col_5{	left:80%;}

.portrait .map_button.row_1{	top:0%;}
.portrait .map_button.row_2{	top:10%;}
.portrait .map_button.row_3{	top:20%;}
.portrait .map_button.row_4{	top:30%;}
.portrait .map_button.row_5{	top:40%;}
.portrait .map_button.row_6{	top:50%;}
.portrait .map_button.row_7{	top:60%;}
.portrait .map_button.row_8{	top:70%;}
.portrait .map_button.row_9{	top:80%;}
.portrait .map_button.row_10{	top:90%;}

.landscape .map_button.col_1{	top:0%;}
.landscape .map_button.col_2{	top:20%;}
.landscape .map_button.col_3{	top:40%;}
.landscape .map_button.col_4{	top:60%;}
.landscape .map_button.col_5{	top:80%;}

.landscape .map_button.row_1{	left:0%;}
.landscape .map_button.row_2{	left:10%;}
.landscape .map_button.row_3{	left:20%;}
.landscape .map_button.row_4{	left:30%;}
.landscape .map_button.row_5{	left:40%;}
.landscape .map_button.row_6{	left:50%;}
.landscape .map_button.row_7{	left:60%;}
.landscape .map_button.row_8{	left:70%;}
.landscape .map_button.row_9{	left:80%;}
.landscape .map_button.row_10{	left:90%;}

.map_button_image
{
	position: absolute;
	left:3px;
	top:3px;
	bottom:3px;
	right:3px;
	background-size: cover;
	background-position: center;
	border-radius:5px;
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,0.7),5px 5px 1px rgba(0,0,0,0.3);
	font-family: 'Caveat Brush', cursive;
	font-size:50px;
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	color: rgba(255,255,0,1);
	padding-top:10px;
	text-align: center;
	cursor: pointer;
	z-index: 2;
}

.decoration .map_button_image
{
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	border: none;
	opacity: 0.8;
	box-shadow: none;
	transform-origin: center;
	/*transform: scale(1.06);*/
	z-index: 1;
	cursor: default;
}

.quest_indicator
{
	box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,0.8),0px 0px 5px 0px rgba(0,0,0,0.8);
	font-family: arial;
	position: absolute;
	top: -2px;
	right: -2px;
	height: 30px;
	width: 30px;
	font-size: 22px;
	text-align: center;
	border: 3px solid rgba(255,225,0,0.6);
	background-color: rgba(255,225,0,0.6);
	color: rgba(255,225,0,1);
	border-radius: 100%;
}

.quest_indicator.incomplete
{
	color: #ccc;
	border: 3px solid rgba(255,225,150,0.4);
	background-color: rgba(255,225,150,0.4);
}

.quest_indicator.combat_button
{
	border: 3px solid rgba(255,0,0,0.6);
	background-color: rgba(255,0,0,0.6);
	background-size: 20px;
	background-position:center;
	background-repeat: no-repeat;
}

.quest_indicator.explore_button
{
	border: 3px solid rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.4);
	background-size: 20px;
	background-position:center;
	background-repeat: no-repeat;
}

.map_button_type_combat
{
	box-shadow:inset 0px 0px 0px 3px rgba(255,0,0,0.5),5px 5px 1px rgba(0,0,0,0.3);
}

.map_button_type_quest
{
	box-shadow:inset 0px 0px 0px 3px rgba(255,255,0,0.5),5px 5px 1px rgba(0,0,0,0.3);
}