*{
    -webkit-tap-highlight-color: transparent;
	box-sizing:border-box;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

*:focus
{
	outline: none;
}

body
{
	background-color:#ccc;
    overflow:hidden;
    -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	touch-action: manipulation;
	/*width:100%;
	height:100%;*/
	margin:0px;
	padding:0px;
	position: relative;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom:  0px;
}

h2,h3
{
	margin: 0px;
	font-family: 'Caveat Brush', cursive;
	clear:both;
}

.hidden
{
	display:none;
}

.shop_details_text
{
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
	text-align:center;
	font-family: 'Caveat Brush', cursive;
	clear:both;
	font-size:24px;
}

button:focus
{
	outline: none;
}

.main_window
{
	/*margin:auto;
	width:1000px;
	height:100vh;
	max-width:100%;
	max-height:800px;*/
	margin:auto;
	width:100%;
	height:100%;
	/*border:2px solid #555;
	border-radius:5px;*/
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	background-color:#aaa;
	position:relative;
	left:0px;
	overflow:hidden;
	-ms-transform-origin: top center; /* IE 9 */
    -webkit-transform-origin: top center; /* Chrome, Safari, Opera */
    transform-origin: top center;
}

@media only screen and (max-width:1024px) {
  body {
    background-color: #000;
    padding:0px;
	margin:0px;
  }
  .main_window
  {
  	position: absolute;
  	margin:0px;
  	border-radius:0px;
  	border:none;
  	box-shadow: none;
  	max-height:none;
  	width:100%;
  	overflow: hidden;
  }
}

.page_container
{
	position:absolute;
	top:75px;
	left:0px;
	right:0px;
	bottom:0px;
	display:none;
	overflow-x: visible;
	overflow-y: auto;
}

.page_container.active
{
	display:block;
}

.menu_container
{
	position: absolute;
	top:10px;
	left:0px;
	right:0px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 2;
	padding-bottom:5px;
	min-height: 60px;
}

.scrollable
{
	overflow-x:hidden;
	overflow-y: auto;
}

.home_devider
{
	width:96%;
	position:relative;
	margin-left:2%;
	border-bottom:2px solid #000;
	clear:both;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
}

.home_section
{
	float:left;
	width:96%;
	margin-left:2%;
	margin-top:10px;
}

.paper_bg
{
	background-image: url('../images/old-953394_640.jpg');
	background-position: center center;
	background-size: cover;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.2;
	z-index:0;
}

.bg
{
	background-position: center center;
	background-size: cover;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.2;
	z-index:0;
}

button,
.button
{
	float:left;
	margin-right:10px;
	margin:bottom:10px;
	width:180px;
	height:55px;
	cursor:pointer;
	border-radius:5px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	border:2px solid rgba(0,0,0,0.6);
	background-color:rgba(100,150,100,0.5);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	font-size:30px;
	color:#fff;
	box-shadow:inset 0px 33px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 15px -10px rgba(0,0,0,0.5);
	border:none;
	border-radius: 0px;
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
}

.square_button,
.menu_button,
.inline_button
{
	float: none;
	outline: none;
	display:inline-block;
	margin-right:3px;
	margin-left: 3px;
	margin-bottom:5px;
	width:180px;
	max-width:45%;
	min-height:55px;
	height: auto;
	cursor:pointer;
	border-radius:5px;
	font-family: 'Caveat Brush', cursive;
	font-size:24px;
	border:2px solid rgba(0,0,0,0.6);
	background-color:rgba(100,150,100,0.5);
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
	font-size:30px;
	color:#fff;
	box-shadow:inset 0px 60px 0px -10px rgba(255,255,255,0.2), inset 0px -10px 15px -10px rgba(0,0,0,0.5);
	border:none;
	border-radius: 0px;
	box-shadow:5px 5px 1px rgba(0,0,0,0.3);
	vertical-align: middle;
}

.square_button.no_bg
{
	background-color: transparent;
	box-shadow: none;
}

.menu_button span
{
	display:block;
	font-size:20px;
	margin-top:-5px;
	opacity:0.8;
}

.menu_button.slim
{
	height:55px;
}

.menu_button.hidden
{
	display: none;
}

.square_button
{
	height:55px;
	width:55px;
	background-image: none;
	background-size: 45px;
	background-position: center;
	background-repeat: no-repeat;
}

.square_button.avatar_button
{
	background-size: cover;
	box-shadow:inset 0px -10px 15px -10px rgba(0,0,0,0.2), inset 0px 0px 3px 5px rgba(0,0,0,0.0), inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 0px 1px 1px rgba(0,0,0,0.9),5px 5px 1px rgba(0,0,0,0.3);
}

.square_button.danger,
button.danger
{
	background-color:rgba(150,100,100,0.5);
}

.square_button.active,
.menu_button.active,
button.cool
{
	background-color:rgba(100,100,150,0.5);
}

.square_button.gold,
.gold_button,
button.gold
{
	background-color:rgba(150,150,100,0.5);
}

.square_button.grey,
.gray_button,
button.grey
{
	background-color:rgba(150,150,150,0.5);
}

.menu_button:hover
{
	box-shadow:inset 5px 10px 10px rgba(0,0,0,0.2);
	color:#aaa;
}

.square_button.avatar_button:hover
{
	box-shadow:inset 0px -10px 15px -10px rgba(0,0,0,0.2), inset 0px 0px 3px 5px rgba(0,0,0,0.0), inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 0px 1px 1px rgba(0,0,0,0.9);
}

.breaker
{
	clear:both;
}

.detail_overlay
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0,0,0,0.8);
	display:none;
	z-index:10000000000;
}

.zoom
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transform-origin:center center;
	transform:scale(1.2);
	z-index:100;
}

.unzoom
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transform-origin:center center;
	transform:scale(0.8);
	z-index:100;
}

@keyframes shake {
    0%   {
    	margin-left:0px;
    	margin-right:0px;
    }
    20%   {
    	margin-left:-5px;
    	margin-right:-5px;
    }
    40%   {
    	margin-left:5px;
    	margin-right:5px;
    }
    60%   {
    	margin-left:-5px;
    	margin-right:-5px;
    }
    80%   {
    	margin-left:5px;
    	margin-right:5px;
    }
    100%   {
    	margin-left:0px;
    	margin-right:0px;
    }
}

.shake
{
	margin:0px;
	animation-name: shake;
    animation-duration: 0.5s;
    -ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
    transform-origin: center center;
    z-index:100;
}

.colored_text
{
	text-shadow:1px 1px 0px rgba(0,0,0,1),1px -1px 0px rgba(0,0,0,1),-1px 1px 0px rgba(0,0,0,1),-1px -1px 0px rgba(0,0,0,1),1px 1px 3px rgba(0,0,0,1);
}

.coins_text
{
	color: rgba(255,255,150,1) !important;
}